.box1{
    height:300px;
    width:200px;
    background-color: brown;
    border: 8px dotted yellowgreen;
    margin: 15px;
    padding-left: 40px;
    border-radius: 30px;
}
.box3{
    background-color: blue;
    width: 150px;
    height: 200px;
    border: 5px solid black;
    margin: 50;

}
.box4{
    background-color: rgb(233, 62, 144);
    width: 150px;
    height: 200px;
    border: 5px solid rgb(12, 1, 12);
    margin-left: 158px; ;
    
}
.box5{
    background-color: rgb(255, 0, 4);
    width: 150px;
    height: 200px;
    border: 5px solid black;
    margin-left: 315px;
    
}