.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    }


.card1{
    height: 400px;
    width: 300px;
    background-color: rgba(160, 13, 118, 0.776);
    border-radius: 10px;
    margin:20px;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
    

}

.card1 img
{
    border-radius: 10px;
    margin: 10px;
}

.card1 h1{
    color: rgb(223, 16, 16);
    font-size: 30px;
    font-weight: bold;
}

.card2{
    height: 400px;
    width: 300px;
    background-color: bisque;
    border-radius: 10px;
    margin:20px;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
    

}

.card2 img
{
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 0px;
    height: 180px;
    width: 251px;
    padding-bottom: 0px;
}

.card2 h1{
    color: rgba(0, 0, 255, 0.591);
    font-size: 30px;
    font-weight: bold;
}

.card3{
    height: 400px;
    width: 300px;
    background-color: rgb(16, 216, 99);
    border-radius: 10px;
    margin:20px;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
    

}

.card3 img
{
    border-radius: 10px;
    margin: 10px;
    height: 103px;
    width: 294px;
    width: 151.344;
    margin-bottom: 6px;
    border-bottom-width: 0px;
    border-right-width: 426px;
    margin-left: 1px;
}

.card3 h1{
    color: rgba(217, 255, 0, 0.817);
    font-size: 30px;
    font-weight: bold;
}

.imagesection{

    width: 400px;
    height: 300px;
}
.card1:hover{
    background-color: beige;
    scale: 1.1;
}
.card2:hover{
    background-color: aquamarine;
    scale: 1.1;
}
.card3:hover{
    background-color: blueviolet;
    scale: 1.1;
}
