body {
	font-family: Arial, sans-serif;
	background-color: #d1f3db;
}

form {
	background-color: #97efa5;
	width: 400px;
	margin: 0 auto;
	padding: 200px;;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
}

.form-group {
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="email"],
input[type="password"] {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: inset 0px 0px 5px #ccc;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #ffffff;
	border: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
